doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Bookish - Best Store in India
  link(rel='shortcut icon' href='../static/images/logo.png' type='image/x-icon')
  link(rel='stylesheet' href='../static/style.css')
.main-Block
  #login-left.block-left
    img#register-img(src='../static/images/logo.png' alt='')
  .block-right
    h2 Sign-In
    form.main-form(action='/login' method="post")
      label(for='Mobile') Mobile Number/Email
      input#Mobile.r-input(type='text' placeholder='' name ='Email')
      label(for='Password') Password
      input#Password.r-input(type='password' name='Password')
      button#smt-btn.primary-btn(type='submit') Login
    p or
    p
      | Don&apos;t have Account?
      a(href='/register') Register